body {
  width: 100%;
}

.vivo-header {
  width: 100%;
  height: auto;
  background-color: #F7F7F7;
}

.vivo-header .vivo-header-topbar {
  width: 100%;
  height: 40px;
  z-index: 1002;
  position: relative;
  background: #242933;
  font-size: 0;
}

.vivo-header .vivo-header-topbar .topbar-mid {
  width: 1200px;
  height: 40px;
  margin: 0 auto;
  position: relative;
  background: #242933;
}

.vivo-header .vivo-header-topbar .topbar-mid a {
  display: inline-block;
  cursor: pointer;
  transition: color .2s ease-in-out;
  font-size: 12px;
  color: #8a8f99;
  font-weight: 400;
  line-height: 40px;
}

.vivo-header .vivo-header-topbar .topbar-mid a:hover {
  color: #FFFFFF;
}

.vivo-header .vivo-header-topbar .topbar-mid i {
  display: inline-block;
}

.vivo-header .vivo-header-topbar .topbar-mid i:hover {
  color: #FFFFFF;
}

.vivo-header .vivo-header-topbar .topbar-mid .topbar-navs {
  padding-left: 80px;
  display: inline-block;
  position: absolute;
  left: 0;
}

.vivo-header .vivo-header-topbar .topbar-mid .topbar-navs li {
  display: inline-block;
  padding-right: 42px;
  white-space: nowrap;
}

.vivo-header .vivo-header-topbar .topbar-mid .topbar-navs-r {
  padding-right: 80px;
  display: inline-block;
  position: absolute;
  right: 0;
}

.vivo-header .vivo-header-topbar .topbar-mid .topbar-navs-r .topbar-down {
  display: inline-block;
  position: relative;
  margin-right: 41px;
  cursor: pointer;
}

.vivo-header .vivo-header-topbar .topbar-mid .topbar-navs-r .topbar-down::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 8px;
  background-color: #575c66;
  top: 50%;
  transform: translateY(-50%);
  right: -21px;
}

.vivo-header .vivo-header-topbar .topbar-mid .topbar-navs-r .topbar-down span {
  display: inline-block;
}

.vivo-header .vivo-header-topbar .topbar-mid .topbar-navs-r .topbar-down:hover .topbar-nav-appdown {
  display: block;
}

.vivo-header .vivo-header-topbar .topbar-mid .topbar-navs-r .topbar-down .topbar-nav-appdown {
  display: none;
  z-index: 1002;
  position: absolute;
  width: 172px;
  top: 40px;
  margin-top: 16px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 8px;
  text-align: center;
  cursor: default;
}

.vivo-header .vivo-header-topbar .topbar-mid .topbar-navs-r .topbar-down .topbar-nav-appdown::before {
  content: "";
  position: absolute;
  top: -24px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 0;
  height: 0;
  border-width: 12px 10px;
  border-style: solid;
  border-color: transparent transparent #FFFFFF transparent;
}

.vivo-header .vivo-header-topbar .topbar-mid .topbar-navs-r .topbar-down .topbar-nav-appdown img {
  display: inline-block;
  vertical-align: top;
  padding-top: 16px;
  width: 140px;
  height: 140px;
}

.vivo-header .vivo-header-topbar .topbar-mid .topbar-navs-r .topbar-down .topbar-nav-appdown span {
  display: block;
  font-size: 12px;
  color: #8a8f99;
  font-weight: 400;
  line-height: 17px;
  margin-top: 11px;
  padding-bottom: 16px;
}

.vivo-header .vivo-header-topbar .topbar-mid .topbar-navs-r .car {
  display: inline-block;
  margin-right: 40px;
}

.vivo-header .vivo-header-topbar .topbar-mid .topbar-navs-r .topbar-box {
  display: inline-block;
  position: relative;
}

.vivo-header .vivo-header-topbar .topbar-mid .topbar-navs-r .topbar-box .topbar-user {
  display: inline-block;
  font-size: 12px;
  color: #8a8f99;
  font-weight: 400;
  line-height: 40px;
  cursor: pointer;
  transition: color .2s ease-in-out;
}

.vivo-header .vivo-header-topbar .topbar-mid .topbar-navs-r .topbar-box .topbar-user:hover {
  color: #FFFFFF;
}

.vivo-header .vivo-header-topbar .topbar-mid .topbar-navs-r .topbar-box .topbar-user-lists {
  display: none;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 172px;
  height: auto;
  z-index: 999;
  padding-top: 16px;
  background-color: #FFFFFF;
  border-radius: 10px;
}

.vivo-header .vivo-header-topbar .topbar-mid .topbar-navs-r .topbar-box .topbar-user-lists::before {
  content: "";
  position: absolute;
  top: -24px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 0;
  height: 0;
  border-width: 12px 10px;
  border-style: solid;
  border-color: transparent transparent #FFFFFF transparent;
}

.vivo-header .vivo-header-topbar .topbar-mid .topbar-navs-r .topbar-box .topbar-user-lists .topbar-user-login .user-content {
  display: block;
}

.vivo-header .vivo-header-topbar .topbar-mid .topbar-navs-r .topbar-box .topbar-user-lists .topbar-user-login .user-content:nth-child(1)::after {
  content: '';
  position: absolute;
  width: 130px;
  bottom: 40%;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  background-color: #f2f2f2;
}

.vivo-header .vivo-header-topbar .topbar-mid .topbar-navs-r .topbar-box .topbar-user-lists .topbar-user-login .user-content a {
  display: inline-block;
  width: 152px;
  padding: 0 10px;
  font-size: 14px;
  text-align: center;
}

.vivo-header .vivo-header-topbar .topbar-mid .topbar-navs-r .topbar-box .topbar-user-lists .topbar-user-login .user-content a i {
  display: inline-block;
}

.vivo-header .vivo-header-topbar .topbar-mid .topbar-navs-r .topbar-box .topbar-user-lists .topbar-user-login .user-content a i:hover {
  color: #008cd6;
}

.vivo-header .vivo-header-topbar .topbar-mid .topbar-navs-r .topbar-box .topbar-user-lists .topbar-user-login .user-content a:hover {
  color: #008cd6;
  text-shadow: none;
}

.vivo-header .vivo-head-mainbar-pc {
  position: relative;
  width: 100%;
}

.vivo-header .vivo-head-mainbar-pc .vivo-head-mainbar {
  position: relative;
  width: 100%;
  z-index: 998;
  opacity: 0.8;
  background-color: #FFFFFF;
}

.vivo-header .vivo-head-mainbar-pc .vivo-head-mainbar .mainbar {
  width: 1040px;
  height: 86px;
  padding: 0 80px;
  position: relative;
  background-color: #8a8f99;
  margin: 0 auto;
}

.vivo-header .vivo-head-mainbar-pc .vivo-head-mainbar .mainbar .mainbar-see {
  height: 86px;
  line-height: 86px;
}

.vivo-header .vivo-head-mainbar-pc .vivo-head-mainbar .mainbar .mainbar-see .mainbar-logo {
  display: inline-block;
}

.vivo-header .vivo-head-mainbar-pc .vivo-head-mainbar .mainbar .mainbar-see .mainbar-logo a {
  display: inline-block;
}

.vivo-header .vivo-head-mainbar-pc .vivo-head-mainbar .mainbar .mainbar-see .mainbar-logo a i {
  display: inline-block;
  vertical-align: middle;
  font-size: 79px;
  color: #242933;
}

.vivo-header .vivo-head-mainbar-pc .vivo-head-mainbar .mainbar .mainbar-see .mainbar-logo a i::before {
  display: inline-block;
}

.vivo-header .vivo-head-mainbar-pc .vivo-head-mainbar .mainbar .mainbar-see .mainnavs {
  position: relative;
  display: inline-block;
}

.vivo-header .vivo-head-mainbar-pc .vivo-head-mainbar .mainbar .mainbar-see .mainnavs .mainnav-pro {
  display: inline-block;
  width: 100%;
}

.vivo-header .vivo-head-mainbar-pc .vivo-head-mainbar .mainbar .mainbar-see .mainnavs .mainnav-pro .mainpro-header {
  display: inline-block;
  height: 86px;
  vertical-align: top;
  text-align: center;
  cursor: pointer;
  padding: 0 21px;
}

.vivo-header .vivo-head-mainbar-pc .mainbar-pc {
  position: absolute;
  top: 10px;
  width: 100%;
  height: 488px;
  z-index: 300;
  background-color: #999999;
  border-radius: 0px 0px 30px 30px;
}
